img[src*='#left'] {
    float: left;

}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
